.board {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.guessLine {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.tile {
    width: 80px;
    height: 80px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(42, 42, 42);
}

.correct {
    background-color: darkgreen;
}

.incorrect {
    background-color: rgb(136, 136, 136);
}

.almost {
    background-color: rgb(200, 160, 0);
}

.page {
    margin: auto;
    max-width: 50%;
    padding: 10px;
    gap: 50px;
}

.result {
    font-size: 50px;
}

.keyboard {
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.keyboard-line{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.tile-small{
    width: 40px;
    height: 40px;
    font-size: 18px;
}